<div align="center">
  <p id="notice"><%= notice %></p>

  <h1><%= @user.username %>'s profile
    <% if current_user && current_user.admin == true %>
      <%= link_to "change activity", toggle_activity_user_path(@user.id), method: :post, class: "button small" %>
    <% end %>
  </h1>
  <% if current_user == @user %>
    <% if @user.score == 0 %>
      You get points by clicking 'Check' on goals that you've achieved. Do it <%= link_to 'here', goals_path %>.<br><br>
    <% end %>
    <h5>Account options:</h5>
    <%= link_to 'Settings', edit_user_path(@user), class: 'button alert' %>
    <%= link_to 'Destroy account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button warning' %>
  <% end %>

  <br>
  <font size="+1">
    <div class="small-5 columns">
      <h5>Recent goals:</h5>
      <% @user.recent_goals.each do |user_goal| %>
        <%= link_to user_goal.goal.name, user_goal_path(user_goal) %>, <%= user_goal.created_at.strftime("%d %b. %Y") %>
        <% if current_user == @user %>
          <%= link_to 'remove', user_goal, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %> (<%= user_goal.goal.score %> points)<br>
      <% end %>
    </div>
    <div class="small-4 columns">
      <h3>Your city information</h3>
      <%= @user.city %><br>
      <% if @weather.nil? %>
        No weather information from your city.
      <% else %>
        <%= @weather[:temperature] %>&degC ~ <%= @weather[:text] %> weather<br>
        <img src="<%= @weather[:icon] %>"/><br>
        Feels like <%= @weather[:feelslike] %>&degC.<br>
        Humidity: <%= @weather[:humidity] %><br>
        Wind conditions: <%= (@weather[:wind]*1000/60/60).round(2) %> m / s.
      <% end %>
    </div>
    <div class="small-3 columns" align="center">
      <h3>TOTAL SCORE</h3>
      <h1><%= @user.score %></h1>
    </div>
  </font>
</div>
