<p id="notice"><%= notice %></p>

<h2><%= @user.username %>'s profile</h2>

<b><u>Account information</u></b><br>
<b>Username:</b> <%= @user.username %><br>
<b>Points:</b> 0<br>
<b>Goals:</b><br>
<% @user.user_goals.each do |user_goal| %>
  <%= user_goal.goal.name %> | <%= user_goal.goal.score %>
  <% if current_user %>
    <%= link_to 'remove', user_goal, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %><br>
<% end %>
<b>Total score:</b> <%= @user.score %>
<br><br>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', :root %>
