<p id="notice"><%= notice %></p>

<div class="row">
  <h2><%= @user.username %>'s profile</h2>
  <br>
  <div class="small-4 columns">
    <h5>Recent goals:</h5>
    <% @user.user_goals.sort_by{|ug| ug.created_at }.reverse.take(5).each do |user_goal| %>
      <%= user_goal.goal.name %>, <%= user_goal.created_at.strftime("%d %b. %Y") %>
      <% if current_user %>
        <%= link_to 'remove', user_goal, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %> (<%= user_goal.goal.score %> points)<br>
    <% end %>
  </div>
  <div class="small-3 columns" align="center">
    <h3>TOTAL SCORE</h3><br>
    <h1><%= @user.score %></h1>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <% if current_user == @user %>
      <% if @user.score == 0 %>
        You get points by clicking 'Check' on goals that you've achieved. Do it <%= link_to 'here', goals_path %>.<br><br>
      <% end %>
      <h5>Account options:</h5>
      <%= link_to 'Change password', edit_user_path(@user), class: 'button alert' %>
      <%= link_to 'Destroy account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button warning' %>
    <% end %>
  </div>
</div>
