<%= form_for(goal) do |f| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    Give the goal a name. Name can't be blank.
    <%= f.label 'name*' %>
    <%= f.text_field :name %>

    Give the goal a score (1..10). Score can't be blank.
    <%= f.label 'score*' %>
    <%= f.number_field :score, in: 1..10 %>

    Tell others about this goal.
    <%= f.label :description %>
    <%= f.text_area :description %>

    Add tags to help others find your goals.
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, placeholder: "Tags separated with comma" %>

    <%= f.submit class: 'button' %>
<% end %>
