<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.sort_by{|goal| goal.score}.each do |goal| %>
      <tr>
        <td><%= link_to goal.name, goal %></td>
        <td><%= goal.score %></td>
        <td><%= goal.description %></td>
        <% unless session[:user_id] == nil %>
          <td><%= button_to 'Check', check_path(:goal_id => goal.id), method: :post, class: 'button hollow' %></td>
          <td><%= link_to 'Edit', edit_goal_path(goal), class: 'button alert' %></td>
          <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% unless session[:user_id] == nil %>
  <%= link_to 'New Goal', new_goal_path, class: 'button' %>
<% end %>
