<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<% if current_user %>
  <div class="row" align="center">
    <%= link_to 'New Goal', new_goal_path, class: 'button' %>
  </div>
<% end %>

<div class="row">
  <% @goals.each do |goal| %>
    <div class="small-4 columns">
      <div class="card" align="center">
        <div class="card-divider">
          <%= button_to 'Check', check_path(:goal_id => goal.id), method: :post, class: 'button hollow' %>
          <h2><%= link_to goal.name, goal %></h2>
        </div>
        <h1><%= goal.score %></h1>
        <div class="card-section">
          <%= goal.description %><br><br>
        </div>
      </div>
    </div>
  <% end %>
</div>
