<p id="notice"><%= notice %></p>

<h3><%= @goal.name %></h3>
<strong>Awailable points:</strong><%= @goal.score %><br><br>
<strong>Description:</strong><br>
<%= @goal.description %><br><br>


<% unless session[:user_id] == nil %>
  <%= link_to 'Edit Goal', edit_goal_path(@goal), class: 'button alert' %>
<% end %>
<%= link_to 'Back to Goals', goals_path, class: 'button' %>
