<%= form_for(user_goal) do |f| %>
  <% if user_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_goal.errors.count, "error") %> prohibited this user_goal from being saved:</h2>

      <ul>
      <% user_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :goal_id %>
    <%= f.number_field :goal_id %>
  </div>

  <div class="field">
    <%= f.label :stars %>
    <%= f.number_field :stars, in: 1..5, placeholder: "Rate your performance (1-5)" %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments, placeholder: "Comment on your performance or related feelings" %>
  </div>

  <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>
